                          Data Types and Structures
                           Assignment Questions
1.  What are data structures, and why are they important?
  - Data structure way of organizing and storing data so that it can be accessed and manipulated effeciently. Data structuer type of List, typle, array, dictionary and String.

2. Explain the difference between mutable and immutable data types with examples.
  - list is mutable data structure you cna change easly aftre the creation but tuple are immutable data structure you don't change after the creation
  list example:
                ss = [1,2,3,]
                ss[0] = 4
                ss
 tuple example:
              ss = (1,2,3,)
              ss[1] = 4
              print(type(ss))
              ss

3.  What are the main differences between lists and tuples in Python?
  - list: is mutable. which means you can change their contents after creation.
  - tuple: are immutable. Once you create a tuple, you cannot change its content.  
  - list: is like a shoping bag you can store anything.
  - tuple: also heterogenous.
  - list: You can access elements by their index, and you can perform various operations like adding, removing, or sorting elements.
  - tuple: They are often used to represent collections of related values.

4. Describe how dictionaries store data.
  - Dictionary whic stores the data in the form of key value pair.

5. Why might you use a set instead of a list in Python?
  - Immutable data structure has a hash value set and tuples working but set and list are not working
  

6.  What is a string in Python, and how is it different from a list?
  - String is a sequence of character represent and manipulate texual data
  character are represent using numerical values each character is assigned a unique
  list is mutable. which means you can change their contents after creation.
  list is like a shoping bag you can store anything.
  list You can access elements by their index, and you can perform various operations like adding, removing, or sorting elements.

7. How do tuples ensure data integrity in Python?
  -

8.  What is a hash table, and how does it relate to dictionaries in Python?
  - A hash table is a data structure that allows for quick insertion, deletion, and retrieval of data. It works by using a hash function to map a key to an index in an array. we will implement a hash table in Python using separate chaining to handle collisions.

9.  Can lists contain different data types in Python?
  - Lists in Python can contain elements of different data types. A list is a versatile data structure that can hold any combination of data types, including integers, strings, floats, booleans, and even other lists or objects

10.  Explain why strings are immutable in Python.
  - Strings are immutable in Python because it provides advantages in terms of efficiency, security, and reliability, especially when using strings as keys in dictionaries or elements in sets. The immutability of strings ensures that their values remain constant throughout the program and makes them more predictable and safer to use.

11.  What advantages do dictionaries offer over lists for certain tasks?
  - Dictionaries excel when you need fast access to data by a specific key, ensure uniqueness, or store data in meaningful key-value pairs.
Lists are better when you need to maintain order, allow duplicates, and access elements by index or when the data order is crucial


12.  Describe a scenario where using a tuple would be preferable over a list.
  - A tuple would be preferable over a list in scenarios where you need to store a collection of items that should not be changed after creation. Tuples are immutable, meaning their values cannot be altered, added, or removed once they are created. This makes tuples ideal in situations where you want to ensure the integrity and consistency of the data.

13. How do sets handle duplicate values in Python?
  - In Python, sets automatically handle duplicate values by removing them. store only unique value

14. How does the “in” keyword work differently for lists and dictionaries?
  - For list, the in keyword checks if the vlaue exists in the list.
  For dictionaries, the in keyword checks if the key exists in the dictionary, not the value. To check for a value, you must use .values() or .items() if you want to check both keys and values.

15. Can you modify the elements of a tuple? Explain why or why not.
  - Tuple are immutable and don't allow to modify the data

16.  What is a nested dictionary, and give an example of its use case?
  - The nested dictionary, tuple inside tuple
   example:
   tup = (1, 2, 3)
   tup2 = (3,2,1,5)
   tup3 = (tup, tup2)

17. Describe the time complexity of accessing elements in a dictionary.
  - In Python, dictionaries are implemented using a hash table, which allows for average constant-time access to elements. This means that the time complexity for accessing elements in a dictionary is typically O(1), on average
  
18.  In what situations are lists preferred over dictionaries?
  - Lists are preferred over dictionaries in situations where the order of elements matters, or when you need to store and access data sequentially by position or index, rather than by a key. Here are some scenarios where lists are better suited than dictionaries

19.  Why are dictionaries considered unordered, and how does that affect data retrieval?
  -

20. Explain the difference between a list and a dictionary in terms of data retrieval.
  - List Ordered collection of elements indexed by position.
  Access by index (position).
  - Access by index: O(1)
  Use when you need to access elements in a specific sequence or order.
  Allows duplicates (e.g., same value multiple times).
  Lists maintain the order of elements (insertion order)

  Dictionary Use when you need to map keys to values efficiently.
  Does not allow duplicate keys (but can have duplicate values).
  Dictionaries maintain insertion order (since Python 3.7+), but are primarily designed for key-value pairs.
  - Access by key: O(1) (on average).
  Unordered collection of key-value pairs.

          **PractialQuestion**

1.   Write a code to create a string with your name and print it.

In [ ]:
name = "Shiv kumar"
print(name)

Shiv kumar

2. Write a code to find the length of the string "Hello World".

In [ ]:
name = "Hello Word"
len(name)

10

3. Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
name = "Python Programing"
name[0:3]

'Pyt'

4. Write a code to convert the string "hello" to uppercase.

In [ ]:
con = "hello"
con.upper()

'HELLO'

5. Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
frut = "Apple"
frut.replace("Apple", "Ornage")

'Ornage'

6. Write a code to create a list with numbers 1 to 5 and print it.

In [ ]:
num = range(1, 6)
list(num)

[1, 2, 3, 4, 5]

7.  Write a code to append the number 10 to the list [1, 2, 3, 4].

In [ ]:
opp = [1, 2, 3, 4]
opp.append(10)
opp

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
list = [1, 2, 3, 4, 5]
list.remove(3)
list

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
pt = ['a','b','c','d']
pt[1]

'b'

10.  Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
list = [10, 20, 30, 40, 50]
for i in reversed(list):
  print(i)

50
40
30
20
10

11. Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [ ]:
list = (100, 200, 300, 400)
type(list)

tuple

 12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [ ]:
list = ('red', 'greem', 'blue', 'yell0w')
list[-2]

'blue'

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

tup = (,20, 5, 15)

13.  Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [2]:
list = (10, 20, 5, 15)
min=list[0]
for i in list:
  if i < min:
    min = i
print(min)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [3]:
list = ('dog', 'cat', 'rabbit')
list.index('cat')

1

15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [5]:
top = ('apple', 'banana', 'kiwi')
kk = 'kiwi'
if kk in top:
  print("yes")
else:
  print("no")

yes

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [9]:
ola = {"a", "b", "c"}
ola

{'a', 'b', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [10]:
ola = {1, 2, 3, 4, 5}
ola.clear()
ola

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [13]:
ola = {1, 2, 3, 4, 5}
ola.remove(4)
ola

{1, 2, 3, 5}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [15]:
oho = {1, 2, 3}
noo = {3, 4, 5}
print(oho|noo)

{1, 2, 3, 4, 5}

20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [17]:
oho = {1, 2, 3}
noo = {3, 4, 5}
print(oho&noo)

{3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [21]:
student = {"Name: shiv", "Age: 23", "City: Dadri"}
for i in student:
  print(i)

Name: shiv
City: Dadri
Age: 23

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [39]:
employ = {'name': 'John', 'age': 25}
employ["country"] = "USA"
employ

{'name': 'John', 'age': 25, 'country': 'USA'}

23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [40]:
dictionary = {'name': 'Alice', 'age': 30}
dictionary["name"]

'Alice'

 24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [41]:
 dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
 dictionary.pop("age")
 dictionary

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [42]:
dictionary={'name': 'Alice', 'city': 'Paris'}
if "city" in dictionary:
  print("yes")
else:
  peint("no")

yes

26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [55]:
dictionary={'name': 'Alice', 'city': 'Paris'}
list=['name', 'Alice', 'city', 'Paris']
tuple=('name',  'Alice', 'city', 'Paris')

print(dictionary)
print(list)
print(tuple)

{'name': 'Alice', 'city': 'Paris'}
['name', 'Alice', 'city', 'Paris']
('name', 'Alice', 'city', 'Paris')

27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the  result.(replaced)

In [56]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[7, 20, 66, 76, 81]

28. Write a code to create a list with strings and print the element at the third index.

In [57]:
list = ['a', 'b', 'c', 'v']
list[2]

'c'

 29. Write a code to combine two dictionaries into one and print the result.

In [58]:
dictionary = {'name': 'Bob', 'age': 22, 'city': 'New York'}
dictionary1={'name': 'Alice', 'city': 'Paris'}
dictionary.update(dictionary1)
dictionary

{'name': 'Alice', 'age': 22, 'city': 'Paris'}

 30. Write a code to convert a list of strings into a set.

In [59]:
string_list = ["apple", "banana", "cherry", "apple", "banana"]
string_set = set(string_list)
string_set

{'apple', 'banana', 'cherry'}